<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia Perguntas | @dev_jakkifx</title>
</head>
<body>
    <h1>Guia Perguntas</h1>

    <!-- <%=  %> Tag que exibe o valor de uma variavel -->
    <!-- <%  %> (SEM =) Tag usada para fazer condicionais e outros -->

    <p>Nome: <%= nome %></p>
    <p>Linguagem favorita: <%= lang %></p>

    <% if(msg) { %>
        <h3>Mostrando mensagem com condicional</h3>
    <% } else { %>
        <h3>Mostrando outra mensagem com condicional</h3>
    <% } %>

    <% produtos.forEach(produto => { %>
        <p>Produto: <%= produto.nome %> - Valor: <%= produto.preco %></p>
    <% }) %>
</body>
</html>